<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website creative</title>
    <link rel="stylesheet" href="style.css">
    <link href="http://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="page" class="site">
        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">contato</a></li>
                            </ul>                             
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links">
                                <li><a href="#">Sing up</a></li>
                                <li><a href="#">Minha Conta</a></li>
                                <li><a href="#">Patrocinadores</a></li>
                                <li><a href="#">BRL <span class="icon-small"><i class="ri-down-s-line"></i></span></a></li>
                                <li><a href="#">Portugues <span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/"><span class="circle"></span>.Store</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="#">Remédios</a></li>
                                    <li><a href="#">Banho</a></li>
                                    <li class="has-child">
                                        <a href="#">Coleiras
                                            <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                        </a>
                                        <div class="mega">
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Guias</h4>
                                                            <ul>
                                                                <li><a href="">Mãos Livres</a></li>
                                                                <li><a href="">Amortecedora</a></li>
                                                                <li><a href="">Simples</a></li>
                                                                <li><a href="">Guia Retratil</a></li>
                                                                <li><a href="">Air-Leash</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>tipos</h4>
                                                            <ul class="types">
                                                                <li><a href="">Colar com espinhos</a></li>
                                                                <li><a href="">Peitoral Convencional</a></li>
                                                                <li><a href="">Peitoral Easy Walk</a></li>
                                                                <li><a href="">Colar Tradicional</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol products">
                                                        <div class="row">
                                                            <div class="media">
                                                                <div class="thumbnail object-cover">
                                                                    <a href="#">
                                                                       <img src="Experts Say These Are the Smartest Cat Breeds.jpg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="text-content">
                                                                <h4>Vale a pena</h4>
                                                                <a href="#" class="primary-button">Compre agora!</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#">Brinquedos</a></li>
                                    <li><a href="#">Acessorios
                                            <div class="fly-item"><span>New!</span></div>

                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                    <div class="icon-large"><i class="ri-heart-line"></i></div>
                                    <div class="fly-item"><span class="item-number">0</span></div>
                                </a></li>
                                <li><a href="#" class="iscart">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number">0</span></div>
                                    </div>
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total">R$0.00</div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-nav">
            </div>
            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="dpt-cat">
                                <div class="dpt-head">
                                    <div class="main-text">Todas as Categorias</div>
                                    <div class="mini-text mobile-hide"></div>
                                    <a href="" class="dpt-trigger mobile-hide"></a>
                                </div>
                            </div>

                        </div>

                        <div class="rigth"></div>
                    </div>
                </div>
            </div>
            <div class="header-nav">...

            </div>
            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="dpt-cat">
                                <div class="dpt-head">
                                    <div class="main-text">Todas as categorias</div>
                                    <div class="mini-text mobile-hide">Mais de 10.000 produtos</div>
                                    <a href="" class="dpt-trigger mobile-hide">
                                        <i class="ri-menu-3-line ri-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="right"></div>
                    </div>
                </div>
            </div>
        </header>

        <main></main>

        <footer></footer>

    </div>
    <script src="script.js"></script>
</body>
</html>